<footer class="footer py-3">
    <div class="container">
        <p class="small mb-0 text-light">
            <p>&copy; <span id="current-year"></span> Lucas Morandeira</p>
        </p>
        <li><a href="{{ path('app_login') }}">{{'Admin'|trans}}</a></li>
        <li><a href="{{ path('app_latest_index') }}">{{'In progress'|trans}}</a></li>
        <li><a href="{{ path('app_project_index') }}">{{'Projects'|trans}}</a></li>

    </div>
</footer>

<script>
    document.getElementById('current-year').innerHTML = new Date().getFullYear();
</script>