<section class="section bg-custom-gray" id="portfolio">
    <div class="container">
        <h1 class="mb-5"><span class="text-danger">My</span> Portfolio</h1>
        <div class="portfolio">
            <div class="filters">
                <a href="#" data-filter=".inProgress" class="active">
                    In progress
                </a>
                <a href="#" data-filter=".onlineStore">
                    Online store
                </a>
                <a href="#" data-filter=".management">
                    Management applications
                </a>
                <a href="#" data-filter=".personal">
                    Personal web
                </a>
            </div>
            <div class="portfolio-container"> 
            
                {% for project in projects %}
                    <div class="col-md-6 col-lg-4 {{ project.class }}">
                        <div class="portfolio-item">
                            <img src="{{ asset('img/' ~ project.image) }}" class="img-fluid" alt="Imagen de {{ project.title }}">
                            <div class="content-holder">
                                
                                <div class="text-holder">
                                    <h6 class="title">{{ project.title }}</h6>
                                    <p class="subtitle">{{ project.description }}</p>
                                    <p class="subtitle"> <a href="{{ project.url }}"></a>{{ project.url }}</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                {% endfor %}
                
        </div>  
    </div>            
</section>